<%- include('../partials/head') %>
</head>
<body class="bg-white">
    <%- include('../partials/nav') %>

    <div class="flex justify-center items-center mt-20">
        <div class="text-center">
            <h1 class="text-8xl font-bold text-red-500 mb-4">My Bookings</h1>
            <p class="text-xl text-gray-700 mb-6">Bookings will appair here.</p>
        </div>
    </div>

</body>
</html>